.form_container {
  width: 100%;
  min-height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--font-base);
}

.form_title {
  font-size: 30px;
  line-height: 36px;
  color: var(--color-primary);
}

.form_error,
.form_message {
  margin-top: 8px;
  font-size: 16px;
  line-height: 16px;
}

.form_error {
  color: var(--color-error);
}

.form_message {
  color: var(--color-primary);
}

.form_field {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.form_field_description {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: var(--color-primary);
}

.form_field_value {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.form_field_value_icon {
  height: 100%;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.form_field_value_icon svg {
  font-size: 28px;
  color: var(--color-primary);
}

.form_field_value_input {
  padding: 8px;
  flex-grow: 1;
  font-family: var(--font-alt);
  background-color: var(--color-primary);
  color: var(--color-secondary);
  word-wrap: break-word;
  word-break: break-all;
  outline: none;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.04em;
  width: 100%;
  display: flex;
}

.form_field_value_input input {
  text-align: left;
  border: none;
  background-color: transparent;
  color: var(--color-secondary);
  outline: none;
  flex-grow: 1;
}

.form_field_value_input input:focus {
  outline: none;
}

.form_field_value_input_icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 8px;
  padding: 0 8px;
  background-color: transparent;
}

.form_field_value_input_icon svg {
  flex: 1 1 0%;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  color: var(--color-secondary);
}

.form_field_value_input_icon svg:hover {
  color: var(--color-secondary-hover);
}

.form_field_error {
  color: var(--color-error);
  margin-top: 2px;
  font-size: 12px;
  line-height: 12px;
}

.form_submit_btn {
  margin-top: 16px;
  width: 80%;
  border-radius: 10px;
  padding: 8px;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-width: 0;
  outline: 0;
}

.form_submit_btn:hover {
  background-color: var(--color-primary-hover);
}

.form_submit_btn:disabled {
  cursor: not-allowed;
  background-color: var(--color-disabled);
  color: var(--color-secondary-faded);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}

@media screen and (max-width: 1150px) {
  .form_title {
    font-size: 24px;
    line-height: 30px;
  }

  .form_error,
  .form_message {
    font-size: 14px;
    line-height: 14px;
  }

  .form_field_description {
    font-size: 16px;
    line-height: 24px;
  }

  .form_field_value_icon {
    padding: 6px;
  }

  .form_field_value_icon svg {
    font-size: 24px;
  }

  .form_field_value_input {
    padding: 6px;
    font-size: 16px;
    line-height: 24px;
  }

  .form_field_value_input_icon {
    padding: 0 4px;
  }

  .form_field_error {
    font-size: 12px;
    line-height: 12px;
  }
}

@media screen and (max-width: 650px) {
  .form_title {
    font-size: 22px;
    line-height: 26px;
  }

  .form_error,
  .form_message {
    font-size: 12px;
    line-height: 12px;
  }

  .form_field_description {
    font-size: 14px;
    line-height: 20px;
  }

  .form_field_value_icon {
    padding: 4px;
  }

  .form_field_value_icon svg {
    font-size: 20px;
  }

  .form_field_value_input {
    padding: 4px;
    font-size: 14px;
    line-height: 20px;
  }

  .form_field_error {
    font-size: 10px;
    line-height: 10px;
  }
}
