.products-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media screen and (max-width: 1150px) {
  .products-list {
    gap: 24px;
  }
}

@media screen and (max-width: 650px) {
  .products-list {
    gap: 20px;
  }
}
