.markdown-container {
  margin: 16px 0;
  color: var(--color-primary);
  font-family: var(--font-base);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.markdown-container h1 a,
.markdown-container h2 a,
.markdown-container h3 a,
.markdown-container h4 a,
.markdown-container h5 a,
.markdown-container h6 a {
  display: none;
}

.markdown-container h1 {
  font-weight: 900;
  letter-spacing: 0.04em;
  font-size: 40px;
}

.markdown-container h2 {
  font-weight: 800;
  letter-spacing: 0.04em;
  font-size: 36px;
}

.markdown-container h3 {
  font-weight: 700;
  letter-spacing: 0.04em;
  font-size: 32px;
}

.markdown-container h4 {
  font-weight: 650;
  letter-spacing: 0.04em;
  font-size: 28px;
}

.markdown-container h5 {
  font-weight: 600;
  letter-spacing: 0.04em;
  font-size: 24px;
}

.markdown-container h6 {
  font-weight: 550;
  letter-spacing: 0.04em;
  font-size: 22px;
}

.markdown-container p,
.markdown-container ul li,
.markdown-container ol li {
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 20px;
  min-height: max-content;
}

.markdown-container p a {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 16px;
  border-radius: 16px;
}

.markdown-container p a:hover {
  text-decoration: none;
  background-color: var(--color-primary-hover);
  color: var(--color-secondary);
}

@media screen and (max-width: 1150px) {
  .markdown-container h1 {
    font-size: 36px;
  }

  .markdown-container h2 {
    font-size: 32px;
  }

  .markdown-container h3 {
    font-size: 28px;
  }

  .markdown-container h4 {
    font-size: 24px;
  }

  .markdown-container h5 {
    font-size: 20px;
  }

  .markdown-container h6 {
    font-size: 18px;
  }

  .markdown-container p,
  .markdown-container ul li,
  .markdown-container ol li {
    font-size: 16px;
  }
}

@media screen and (max-width: 650px) {
  .markdown-container h1 {
    font-size: 34px;
  }

  .markdown-container h2 {
    font-size: 30px;
  }

  .markdown-container h3 {
    font-size: 26px;
  }

  .markdown-container h4 {
    font-size: 22px;
  }

  .markdown-container h5 {
    font-size: 20px;
  }

  .markdown-container h6 {
    font-size: 18px;
  }

  .markdown-container p,
  .markdown-container ul li,
  .markdown-container ol li {
    font-size: 16px;
  }
}
