.order-partner {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.order-partner h1 {
  font-family: var(--font-base);
  font-weight: 900;
  letter-spacing: 0.04em;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
}

.order-partner_content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.order-partner_content h3 {
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  font-size: 22px;
  line-height: 24px;
}

.order-partner_content p {
  font-family: var(--font-base);
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 18px;
  line-height: 20px;
  flex-grow: 1;
}

@media screen and (max-width: 1150px) {
  .order-partner h1 {
    font-size: 30px;
    line-height: 32px;
  }

  .order-partner_title h3 {
    font-size: 20px;
    line-height: 22px;
  }

  .order-partner_text p {
    font-size: 16px;
    line-height: 18px;
  }
}

@media screen and (max-width: 650px) {
  .order-partner {
    gap: 14px;
  }

  .order-partner h1 {
    font-size: 26px;
    line-height: 28px;
  }

  .order-partner_content {
    gap: 8px;
  }

  .order-partner_title h3 {
    font-size: 16px;
    line-height: 18px;
  }

  .order-partner_text p {
    font-size: 14px;
    line-height: 14px;
  }
}
